{% extends 'anibase.html' %}

{% block title %}
    个人中心
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col col-md-2 offset-md-1 col-sm-12">
                <div class="list-group">

                    <a class="text-primary text-decoration-none list-group-item list-group-item-action" href="{% url 'aniuser:profile' %}">
                        个人中心
                    </a>

                    <a class="text-primary text-decoration-none list-group-item list-group-item-action" href="{% url 'aniuser:profile_articles' %}">
                        我发表的文章
                    </a>

                    <a class="text-primary text-decoration-none list-group-item list-group-item-action" href="{% url 'aniuser:profile_favor_articles' %}">
                        我收藏的文章
                    </a>

                    <a class="text-primary text-decoration-none list-group-item list-group-item-action" href="{% url 'aniuser:profile_update' user.id %}">
                        编辑资料
                    </a>

                </div>
            </div>

            <div class="col col-md-8 col-sm-12">
                <div class="border rounded p-3">
                    {% block profile-right %}

                    {% endblock %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}



