{% extends 'anibase.html' %}
{% load filters %}
{% load static %}
{% load bootstrap4 %}

{% block head %}
{#    <link href="{% static "tinymce/css/prism.css" %}" rel="stylesheet">#}

    <style>
        #id_tag {
            width: 160px !important;
            height: 200px !important;
        }
    </style>
{% endblock %}


{% block title %}
    更新文章评论
{% endblock %}


{% block content %}

    <div class="container my-5">
        <form method="post">{% csrf_token %}
            {{ form.media }}
            {% bootstrap_form form %}
            <input class="btn btn-outline-primary" type="submit" value="更新">
            <a href="{% url 'comment:delete' object.pk %}" class="btn btn-outline-danger ml-3"
               type="button">删除</a>
        </form>
    </div>


{% endblock %}

