{% extends 'anibase.html' %}
{% load bootstrap4 %}


{% block head %}
    <style>
        select[name='tag'] {
            width: 150px;
            height: 160px !important;
        }
    </style>
{% endblock %}


{% block content %}

    <div class="container my-4">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.media }}
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-primary" value="Save">
        </form>
    </div>

{% endblock %}

