{% extends 'anibase.html' %}
{% load filters %}
{% load static %}
{% load bootstrap4 %}

{% block head %}
    <link href="{% static "tinymce/css/prism.css" %}" rel="stylesheet">
    {{ form.media }}
{% endblock %}

{% block title %}
    更新文章
{% endblock %}


{% block content %}

    <div class="container my-5">
        <form method="post">{% csrf_token %}
            {% bootstrap_form form %}
            <input class="btn btn-primary" type="submit" value="Update">
        </form>
    </div>

{% endblock %}

{% block script_code %}

{% endblock %}