{% extends 'anibase.html' %}
{% load filters %}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{#{% bootstrap_css %}#}
{#{% bootstrap_javascript jquery='full' %}#}


{% block head %}

{% endblock %}

{% block title %}
    Snippet
{% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="tag-container my-3">
                    <a id="all"
                       class="tags btn btn-outline-secondary mb-2 me-2 px-3"
                       href="?page=1">all</a>
                    {% for tag in all_tags %}
                        <a id="{{ tag.name }}"
                           class="tags btn btn-outline-secondary text-decoration-none mb-2 me-2 px-3"
                           href="?page=1&tag={{ tag.name }}">{{ tag.name }}</a>
                    {% endfor %}
                </div>

                <div class="article-list">
                    {% for article in page_obj %}
                        <div class="article-container my-4">
                            <div class="h2">
                                <a class="text-decoration-none text-dark"
                                   href="{% url 'snippet:detail' article.id %}">{{ article.title }}</a>
                            </div>

                            <div class="tag-container">
                                {% for tag in article.tag.all %}
                                    <span class="badge badge-info" style="font-size: large">{{ tag.name }}</span>
                                {% endfor %}
                            </div>

                            <div class="other-container my-2 text-black-50">
                                <span class="">{{ article.author.username }}</span>
                                <span class="ms-2">{{ article.create_time | time_since }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                {# 分页 #}
                {% if article_list %}
                    {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}

{% block script_code %}
    <script>
        $(function () {
            let href = window.location.href

            // 高亮标签
            {#let current_tag = "tag="#}
            let element_id = "all"

            if (href.match(/tag=\w+/)) {
                element_id = href.match(/tag=(\w+)/)[1]
            }
            $('.tags').removeClass("btn-primary").addClass("btn-outline-secondary")
            $('#' + element_id).removeClass("btn-outline-secondary").addClass("btn-primary")

        })
    </script>
{% endblock %}