{% extends 'anibase.html' %}

{% block head %}
    <style type="text/css">
        .s0 {
            color: #629755;
            font-style: italic;
        }

        .s1 {
            color: #a9b7c6;
        }

        .s2 {
            color: #cc7832;
        }

        .s3 {
            color: #6a8759;
        }

        .ln {
            color: #606366;
            font-weight: normal;
            font-style: normal;
        }
    </style>
{% endblock %}

{% block title %}
    主页
{% endblock %}

{% block content %}

    <div class="container-fluid">
        主页
    </div>

{% endblock %}


