{% extends 'anibase.html' %}

{% block title %}
    Video
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-md-4 my-4">
                <div class="card">
                    <a class="text-decoration-none"
                       href="https://study.163.com/course/introduction/1209966922.htm?share=2&shareId=480000002210461">
                        <img src="/media/img/cover/pandas.jpeg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Python Pandas Excel 办公自动化</h5>
                        <p class="card-text">学习pandas库, 使用python来操作excel表格, 实现办公自动化.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 my-4">
                <div class="card">
                    <a class="text-decoration-none"
                       href="https://study.163.com/course/introduction/1211591811.htm?share=2&shareId=480000002210461">
                        <img src="/media/img/cover/order.jpeg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Python Web 接单实战</h5>
                        <p class="card-text">Python Web Flask Bootstrap 前后端全栈开发教程, 兼职接单实战.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 my-4">
                <div class="card">
                    <a class="text-decoration-none"
                       href="https://study.163.com/course/introduction/1211262812.htm?share=2&shareId=480000002210461">
                        <img src="/media/img/cover/pybase.jpeg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Python 3.9 基础入门</h5>
                        <p class="card-text">如果只选一门编程语言来学习, 就学 Python 吧, 适合零基础人群.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}