{% load filters %}

<div class="comment_group">
    {% for comment in comment_list %}
        <div class="comment-item mb-4">
            <div style="margin-bottom: 6px">
                <span class="fw-bolder text-primary">{{ comment.author.username }}</span>
                <span class="text-secondary mx-2">{{ comment.create_time|time_since }}</span>
                {% if comment.author == user %}
                    <a href="{% url 'comment:change' comment.pk %}">
                         <i class="fas fa-edit ml-2 text-secondary"></i>
{#                        <img src="/static/svg/edit.svg" alt="" width="16">#}
                    </a>
                {% endif %}
            </div>
            <div class="markdown-body">
                {{ comment.content|convert_markdown|safe }}
            </div>
        </div>
        <hr>
    {% endfor %}
</div>


